<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="theme-color" content="#d27303" />
    <title>Informacje o odwiedzających - admin.noanzo.pl</title>
    <link rel="stylesheet" href="/public/css/user.css">
  </head>
  <body>
    <main>
      <center>
        <h1>Odwiedzający stronę</h1>
        <p class="user_count">
          Liczba wyświetleń strony:
          <span class="data_count"><%= data.total; %></span>
        </p>
      </center>
      <div class="container">
        <% let id = 1  %>
        <% for(const item of data.docs) { %>
          <div id="<%="ID" + "_" + id++;%>" class="user_badge">
          <div class="flag_section">
            <div class="flag_image">
              <img src="<%= item.countryFlag; %>" alt="flag" width="50px" />
            </div>
          </div>
          <div class="data_section">
            <p class="country">
              <b>Kraj:</b> <%= item.countryName ? item.countryName : "nieznany";
              %>
            </p>
            <p class="city">
              <b>Miasto:</b> <%= item.city ? item.city : "nieznane"; %>
            </p>
            <p class="date">
              <b>Data:</b> <%= parseTimestamp(item.timestamp, 'y') !== 1970 ?
              parseTimestamp(item.timestamp, 'd') + "/" +
              parseTimestamp(item.timestamp, 'm')+ "/" +
              parseTimestamp(item.timestamp, 'y') : "nieznana" ; %>
            </p>
            <p class="hour">
              <b>Godzina:</b> <%= parseTimestamp(item.timestamp, 'h') + ":" +
              parseTimestamp(item.timestamp, 'min'); %>
            </p>
            <p class="isp">
              <b>Dostawca internetu:</b> <%= item.isp ? item.isp : "nieznany";
              %>
            </p>
            <p class="ip"><b>IP:</b> <%= item.userIp; %></p>
          </div>
          
          <div class="device-data">
            <div class="data_section">
            <p class="os"><b>System:</b> <%= item.device.os ? item.device.os.name : "nieznany" %></p>
            <p class="device"><b>Urządzenie:</b> <%= item.device.device.brand ? item.device.device.brand + " " + item.device.device.model : "nieznane" %></p>
            <p class="source"><b>Źródło wizyty:</b> <%= item.visitSource ? item.visitSource.substring(0,50) : "nieznane" %></p>
            <p class="target"><b>Odwiedzona strona:</b> <%= item.entryPage ? item.entryPage.substring(0,50) : "nieznane" %></p>
            </div>
          </div>
          <div class="btn_expand">
            <img src="/public/assets/expand.svg"/>
          </div>
        </div>
        <% } %>
      </div>
      <div class="navigation">
        <div class="btn_l">
            <%if (data.offset -49 > 0) { %>
            <a href="/users-data?page=<%=data.offset-50;%>&limit=50">&#8592</a>
            <% } %>
        </div>
        <div class="page">
          <%=((data.offset / 50)+1).toString() +"/" +
          Math.ceil(data.total/50).toString(); %>
        </div>
        <div class="btn_r">
            <%if (data.offset < (Math.ceil(data.total/50) * 50) - 50) { %>
          <a href="/users-data?page=<%=data.offset+50;%>&limit=50">&#8594</a>
            <% } %>
        </div>
      </div>
    </main>
    <script src="/public/js/user.dev.js"></script>
  </body>
</html>
