<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="theme-color" content="#d27303" />
    <title>Statystyki strony - admin.noanzo.pl</title>
    <link rel="stylesheet" href="/public/css/user.css">
  </head>
  <body>
    <main>
      <center>
        <h2>Statystyki strony noanzo.pl</h2>
        <p class="user_count">
          Liczba wyświetleń strony:
          <span class="data_count"><%= data.total; %></span>
        </p>
        <h3 class="range-title">Ostatni tydzień</h3>
      </center>
      <div class="chart_container">
        <select name="range" class="range">
          <option value="week">Tydzień</option>
          <option value="month">Miesiąc</option>
        </select>
        <div class="placeholder">
        </div>
      </div>
      <div class="summary">
        <p class="summary_text">
        </p>
        <div class="summary_icon">
          <img>
        </div>
      </div>
      <!-- <div class="google">
        <h2>Google performance</h2>
      </div> -->
      <h3>Odwiedzający stronę</h3>
      <div class="container">
        <% let id = 1  %>
        <% for(const item of data.docs) { %>
          <div id="<%="ID" + "_" + id++;%>" class="user_badge">
          <div class="flag_section">
            <div class="flag_image">
              <img src="<%= item.countryFlag; %>" alt="flag" width="50px" />
            </div>
          </div>
          <div class="data_section">
            <p class="country">
              <b>Kraj:</b> <%= item.countryName ? item.countryName : "nieznany";
              %>
            </p>
            <p class="city">
              <b>Miasto:</b> <%= item.city ? item.city : "nieznane"; %>
            </p>
            <p class="date">
              <b>Data:</b> <%= parseTimestamp(item.timestamp, 'y') !== 1970 ?
              parseTimestamp(item.timestamp, 'd') + "/" +
              parseTimestamp(item.timestamp, 'm')+ "/" +
              parseTimestamp(item.timestamp, 'y') : "nieznana" ; %>
            </p>
            <p class="hour">
              <b>Godzina:</b> <%= parseTimestamp(item.timestamp, 'h') + ":" +
              parseTimestamp(item.timestamp, 'min'); %>
            </p>
            <p class="isp">
              <b>Dostawca internetu:</b> <%= item.isp ? item.isp : "nieznany";
              %>
            </p>
            <p class="ip"><b>IP:</b> <%= item.userIp; %></p>
          </div>
          
          <div class="device-data">
            <div class="data_section">
            <p class="os"><b>System:</b> <%= item?.device?.os ? item.device.os.name : "nieznany" %></p>
            <p class="device"><b>Urządzenie:</b> <%= item?.device?.device.brand ? item.device.device.brand + " " + item.device.device.model : "nieznane" %></p>
            <p class="source"><b>Źródło wizyty:</b>
               <%= item?.visitSource ?  item.visitSource.substring(0,50) : "nieznane" %></p>
            <p class="target"><b>Odwiedzona strona:</b> 
              <% if (item?.entryPage) {  %>
                <a href="<%= item.entryPage.substring(0,60); %>" target="_blank"><%= item.entryPage.substring(0,60); %></a>
              <% } else {%>
              nieznana
              <% } %>
            </p>
            </div>
          </div>
          <div class="btn_expand">
            <img src="/public/assets/expand.svg"/>
          </div>
        </div>
        <% } %>
      </div>
      <div class="navigation">
        <div class="btn_l">
            <%if (data.offset > 0 && data.offset !== 15) { %>
            <a href="/users-data?page=<%=Math.ceil(data.offset/15)-1;%>">&#8592</a>
            <% } else if (data.offset === 15) {%>
            <a href="/users-data">&#8592</a>
            <% } %>
        </div>
        <div class="page">
          <%=((data.offset/15)+1).toString() +"/" +
          Math.ceil(data.total/15).toString(); %>
        </div>
        <div class="btn_r">
            <%if (data.offset < (Math.ceil(data.total/15) * 15) - 15) { %>
          <a href="/users-data?page=<%=Math.ceil(data.offset/15)+1;%>">&#8594</a>
            <% } %>
        </div>
      </div>
      <div class="back_btn">
        <a href="/admin">
          <img src="/public/assets/back.svg"/>
        </a>
      </div>
      <div class="main_bckg"></div>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="/public/js/user.dev.js"></script>
  </body>
</html>
